@use "sass:color";
@use "../helpers/variables" as *;

.social-links {
	overflow: hidden;

	li {
		float: left;
		width: 35px;
		height: 35px;
		margin-right: 1px;

		a {
			background-color: color.adjust($theme-primary-color, $lightness: 10%);
			width: 35px;
			height: 35px;
			line-height: 35px;
			display: block;
			color: $white;
			text-align: center;

			&:hover {
				background-color: $theme-primary-color;
			}
		}
	}


}